<pre>
  <code class="language-erb">
    <!DOCTYPE html>
    <html>
      <head>
        <title>TodoApplication</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%# ℹ️ Add this line %>
        <%= stylesheet_pack_tag 'application' %>

      </head>

      <body>
        <%= yield %>
      </body>
    </html>
  </code>
</pre>
